
.wrap {
    height: 100vh;
    width: 100%;
    background-color: #aaa;
    overflow: hidden;
}

.wrap .content{
    position : relative;
}


.content img{
    height: 100vh;
    width: 100%;
}

.content .button-box {
    width: 90%;
    position: absolute;
    color : white;
    top : 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.content .button-box button{
    background-color: #00000000;
    border : none;
    padding :0;
    display: inline-block;
    margin-bottom: 2%;
}

.content .button-box li img {
    width: 100%;
    height: auto;
}   


